.minilagerloader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box3{
        @include keyframes (cube3){
            0% {fill:#E6F0CB;}
            25%{fill:#45812B;}
            50%{fill:#3F3D2C;}
            75%{fill: #88A476;}
            100%{fill:#E6F0CB;
            }}
        @include animate(cube3, 3s, linear, infinite);
        
        }

        .box7{
            @include keyframes (cube7){
                0% {fill:#45812B;}
                25%{fill:#3F3D2C;}
                50%{fill:#88A476;}
                75%{fill: #E6F0CB;}
                100%{fill:#45812B;}
                }
            @include animate (cube7, 3s, linear, infinite);
        }
        
        .box10{
            @include keyframes (cube10){
                0% {fill:#3F3D2C;}
                25%{fill:#88A476;}
                50%{fill:#E6F0CB;}
                75%{fill: #45812B;}
                100%{fill:#3F3D2C;}
                }
            @include animate (cube10, 3s, linear, infinite);
        }
        
        .box9{
            @include keyframes (cube9){
                0% {fill:#88A476;}
                25%{fill:#E6F0CB;}
                50%{fill:#45812B;}
                75%{fill: 3F3D2C;}
                100%{fill:#88A476;}
                }
            @include animate (cube9, 3s, linear, infinite);
        }
        
        .box12{
            @include keyframes (cube12){
                0% {fill:#45812B;}
                25%{fill:#3F3D2C;}
                50%{fill:#E6F0CB;}
                75%{fill: #88A476;}
                100%{fill:#45812B;}
                }
            @include animate (cube12, 3s, linear, infinite);
        }
        
        .box11{
            @include keyframes (cube11){
                0% {fill:#3F3D2C;}
                25%{fill:#E6F0CB;}
                50%{fill:#88A476;}
                75%{fill: #45812B;}
                100%{fill:#3F3D2C;}
                }
            @include animate (cube11, 3s, linear, infinite);
        }
        
        .box8{
            @include keyframes (cube8){
                0% {fill:#E6F0CB;}
                25%{fill:#88A476;}
                50%{fill:#45812B;}
                75%{fill: #3F3D2C;}
                100%{fill:#E6F0CB;}
                }
            @include animate (cube8, 3s, linear, infinite);
        }
        
        .box4{
            @include keyframes (cube4){
                0% {fill:#88A476;}
                25%{fill:#45812B;}
                50%{fill:#3F3D2C;}
                75%{fill: #E6F0CB;}
                100%{fill:#88A476;}
                }
            @include animate (cube4, 3s, linear, infinite);
        }
        
        .box1{
            @include keyframes (cube1){
                0% {fill:#3F3D2C;}
                25%{fill:#E6F0CB;}
                50%{fill:#88A476;}
                75%{fill: #45812B;}
                100%{fill:#3F3D2C;}
                }
       @include animate (cube1, 3s, linear, infinite);
        }
        
        .box2{
            @include keyframes (cube2){
                0% {fill:#E6F0CB;}
                25%{fill:#88A476;}
                50%{fill:#45812B;}
                75%{fill: #3F3D2C;}
                100%{fill:#E6F0CB;}
                }
            @include animate (cube2, 3s, linear, infinite);
        }
        
        .box5{
            @include keyframes (cube5){
                0% {fill:#88A476;}
                25%{fill:#45812B;}
                50%{fill:#3F3D2C;}
                75%{fill: #E6F0CB;}
                100%{fill:#88A476;}
                }
            @include animate (cube5, 3s, linear, infinite);
        }
        
        .box6{
            @include keyframes (cube6){
                0% {fill:#45812B;}
                25%{fill:#3F3D2C;}
                50%{fill:#E6F0CB;}
                75%{fill:#88A476 ;}
                100%{fill:#45812B;}
                }
            @include animate (cube6, 3s, linear, infinite);
        }
        
        .dot1{
            @include keyframes (dot1){
                0% {fill:black;}
                25%{fill:white;}
                50%{fill:black;}
                75%{fill:white ;}
                100%{fill:black;}
                }
            @include animate(dot1, 2s, linear, infinite);
        }
         
        
        .dot2{
            @include keyframes (dot2){
                0% {fill:white;}
                25%{fill:black;}
                50%{fill:white;}
                75%{fill: black;}
                100%{fill:white;}
                }
            @include animate(dot2, 2s, linear, infinite);
        }
        
        .dot3{
            @include keyframes (dot3){
                0% {fill:black;}
                25%{fill:white;}
                50%{fill:black;}
                75%{fill:white ;}
                100%{fill:black;}
                }
            @include animate(dot3, 2s, linear, infinite);
        }
        
}
.line{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textloading{
    // white-space: pre;
      font-size :"12";
       font-weight:"bold" ;
       letter-spacing: "0em";
       
   }
   .dotloading{
    white-space: pre;
      font-size :"20";
       letter-spacing:"0em";

   }
  
