
 @mixin for-desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @mixin for-tablet {
    @media (max-width: 991px) {
      @content;
    }
  }
 @mixin for-mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
  @mixin for-sm-mobile {
    @media (max-width: 576px) {
      @content;
    }
  }



  