.TenantDetailsProfileImage{
    height: 170px !important;
    width: 170px !important;
}
.card-bg-secondary{
    background-color: $EsignCardBg;
}
.card-border{
    border: 1px solid $UnitsCardBg !important;
}
.card-border-primary{
    border: 1px solid $LoginFormTextColor;
}
.card-border-bottom{
    border-bottom: 1px solid $UnitsCardBg;
}
.card-boxShadow{
    box-shadow: 0px 0px 6px #00000029;;
}
.border-radius-5{
    border-radius: 5px !important;
}
.dashed-bottom{
    border-bottom: 1px dashed $UnitsCardBg;
}
.border-top{
    border-top: 1px solid $UnitsCardBg;
}
.border-right{
    border-right: 1px solid $UnitsCardBg;
}
.bg-primary-light{
    background-color: $EsignViewBg;
}
.actionMsgContainer{
    min-height: 35px !important;
}
.w-35{
    width: 35% !important;
    @include for-tablet{
        width: 50% !important;
    }
    @include for-mobile{
        width: 90% !important;
    }
}