a {
    color: $LoginFormTextColor;
}

.createAccountform {
    width: 65%;
    box-shadow: $LoginFormBoxShadow;
    border-radius: 16px;
    @include for-mobile {
        width: 95%;
    }
    .createAccountform-img {
        background-color: $LoginFormBackground;
        img {
            width: 75%;
        }
        @include for-mobile {
            display: none !important;
        }
    }
    .createAccountform-inputs {
        padding: 2rem;
        .form-title {
            h2 {
                color: $LoginFormTextColor !important;
                font-size: 1.5rem;
                margin-bottom: 0.7rem;
            }
            p {
                font-size: 0.7rem;
            }
        }
        form {
            padding: 2rem 0;
            .form-control {
                margin-bottom: 1.5rem;
                label {
                    font-size: 0.7rem;
                    margin-bottom: 0.8rem;
                }
                .ui.input {
                    input {
                        border: 1px solid $LoginFormBorderColor;
                        border-radius: 4px;
                        padding-left: 2.5rem;
                        &::placeholder {
                            font-size: 0.7rem;
                        }
                    }
                }
                .norway-img {
                    height: 1.5rem;
                    width: 1.5rem;
                    object-fit: contain;
                }
                .noCounterNumber {
                    input {
                        padding-left: 1rem !important;
                    }
                }
            }
            button {
                background-color: $LoginFormTextColor !important;
                color: $textLightColor !important;
                padding: 1rem 2rem;
                font-size: 0.8rem;
            }
        }
        .signup-div {
            p {
                font-size: 0.7rem;
            }
        }
    }
}
.createAccountform .PhoneInput {
    width: 100%;
    .PhoneInputCountry {
        position: absolute;
        top: 10px!important;
        left: 10px!important;
    }
    input {
        width: 100%;
        padding-left: 2.5rem;
        height: 35px;
    }
}
